@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


/*----------------------------------- General Styling*/

body {
    text-align: center;
    color: #fefefe;
    background-color: rgb(64, 177, 158);
    font-family: "Quicksand", sans-serif;
}

.content-container {
    margin-top: 76px;
}

/*--------- Headers*/
h1 {
    margin-top: 30px;
    color: #fff;
    text-shadow: 0 2px rgb(64, 177, 158), 0 3px rgb(19, 100, 120);
    font-size: 50px;
}

h2 {
    color: rgb(32, 118, 158);
}

h3{
    font-size: 1.2rem;
}
h4 {
    letter-spacing: .6px;
    margin-top: 30px;
    color: #fff;
    margin: 1em 0 0.5em 0;
    /* color: #fbec5d; */
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 0 2px rgb(64, 177, 158), 0 4px rgb(19, 100, 120);
    font-size: 1rem;
    
}

h5 {
    margin: 30px 30px 30px 0px;
}

/*--------- Buttons*/

.btn-primary {
    margin-top: 30px;
}

.btn-info, .btn-danger {
    margin-top: 30px;
}

.btn-warning {
    color: #fff;
    background-color: #ccbf4b;
    border: none;
}

.btn-warning:hover {
    background-color: #378ea8;
    color: #fff;
    border: none;
}

/*--------- Buttons*/
.my-4 {
    width: 30%;
}

.my-5 {
    width: 70%;
}

/*------------------------------------------------- Navbar*/
.navbar {
    background-color: rgb(19, 100, 120);
    /*border-bottom: 1px solid aquamarine;*/
    border-bottom: 1px solid #09bbf5;
}

.logo {
    height: 50px;
    margin-right: 0 10px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.5);

}

.navbar-nav li a {
    margin-left: 30px;
    padding: 0 10px;
    font-size: 18px;
}

.navbar-nav li a:hover {
    text-decoration: underline #16A085;
}

.navbar-nav li a:after {
    color: chartreuse;
}

.active {
    color: #fff;
}

.navbar-brand {
    margin-left: 2rem;
}

.nav-link-right{
    color: #09bbf5;
}

.nav-link-right:hover {
    color: rgba(255,255,255,.75);
}


/*-------------------------------------------------Home Page*/

#main-header {
    letter-spacing: .6px;
    margin-top: 30px;
    color: #fff;
    margin: 1em 0 0.5em 0;
    color: #fbec5d;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 60px;
    line-height: 50px;
    text-transform: uppercase;
    text-shadow: 0 2px rgb(64, 177, 158), 0 4px rgb(19, 100, 120);
}

#strong-heading {
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 0 3px rgb(64, 200, 158), 0 5px rgb(19, 100, 120);
}


#home-page-content-wrapper {
    padding: 15px;
}

.title{
    padding: 5px 0px 5px 0px;
    background: rgb(51, 156, 139);
    box-shadow: 0px 0px 5px rgba(200, 200, 200);
    margin-top: 40px;
}

.home-page-list {
    text-align: center;
}

/*-------------------------------------------------Show Lists Page*/

/* ---------------Lists page - Sidebar */

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgb(19, 100, 120);
}

/* Main Content */
#lists-page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 100px;
}

#wrapper.menuDisplayed #lists-page-content-wrapper {
    padding-left: 100px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    text-decoration: none;
    color: #ddd;
    line-height: 15px;
    font-size: 10px;
}

.sidebar-nav li a:hover {
    background: #d1c239;
    font-weight: 500;
    color: #fff;
    
}

/*-------------------------------------------------View List Page*/

.list_heading {
    padding: 0;
    letter-spacing: .6px;
    margin-top: 30px;
    color: #fff;
    margin: 1em 0 0.5em 0;
    color: #fbec5d;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 0 2px rgb(64, 177, 158), 0 4px rgb(124, 206, 226);
}

.list_image {
    padding: 0;
    max-height: 50vh;
    border-radius: 1%;
    box-shadow: 0px 0px 50px rgb(19, 100, 120);
}

.list-content-wrapper {
    padding: 15px;
}

.list-item-heading {
    text-align: left;
}

.list-item-paragraf {
    text-align: left;
    font-size: 14px;
}

/*-------------------------------------------------Create List Page*/


#create-list-content-wrapper {
    padding: 15px;
}

.create-list-card {
    color: rgb(32, 118, 158);
}

.add-list-name-row {
    padding-top: 30px;
}

.add-list-object-row {
    padding-top: 30px;
}

i {
    width: 40px;
    color: rgb(32, 118, 158);
}

/*-------------------------------------------------LogIn / Register Page*/

#login-register-content-wrapper {
    padding: 15px;
}

.login-register-card{
    color: rgb(32, 118, 158);
    padding: 15px;
}


.form-signin {
    padding: 10px;
}



/*---Medium Screen (ipad)---*/
@media (min-width: 481px){

    h3{
        font-size: 1.75rem;
    }
    #main-header {
        line-height: 42px;
    }

    #wrapper.menuDisplayed #sidebar-wrapper {
        width: 150px;
    }
    
    #wrapper.menuDisplayed #lists-page-content-wrapper {
        padding-left: 150px;
    }

    .sidebar-nav li a {
        font-size: 12px;
    }

    .list_heading{
        font-size: 55px;
    }

    .list-item-paragraf {
        text-align: left;
        padding-left: 27px;
        font-size: 16px;
    }
}

/*---Large Screen---*/
@media (min-width: 769px) {

    .title{
        padding: 30px 40px 30px 40px;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 42px;
    }
    h5 {
        margin: 30px 30px 30px 30px;
    }

    #wrapper.menuDisplayed #sidebar-wrapper {
        width: 250px;
    }
    
    #wrapper.menuDisplayed #lists-page-content-wrapper {
        padding-left: 250px;
    }

    .sidebar-nav li a {
        font-size: 16px;
        line-height: 25px;
    }
    .list-content-wrapper {
        padding: 45px;
    }
}