@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
    text-align: center;
    color: #fefefe;
    background-color: rgb(32, 118, 158);
    /*background-image: url(/static/img/collage.1.png);
    background-size: cover;
    background-position: center;*/
}

h1 {
    margin-top: 30px;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.content-container {
    margin-top: 80px;
}

#home-page-content-wrapper {
    padding: 15px;
    /*background-image: url(/static/img/collage.1.png);
    background-size: cover;
    background-position: center;*/
}

#create-list-content-wrapper {
    padding: 15px;
}

#add-category-content-wrapper {
    padding: 15px;
}

.create-list-card {
    color: rgb(32, 118, 158);
}

i {
    width: 40px;
    color: rgb(32, 118, 158);
}

.create-list-item {
    padding-top: 30px;
}

#list-item-modal {
    color: rgb(32, 118, 158);
}

.modal-padding {
    padding: 15px 10px;
}
/* Lists page - Sidebar */

#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 250px;
    height: 100%;
    background: #2c3E50;
}

#navbarDropdown {
    position: relative;
}
/* Main Content */
#lists-page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #lists-page-content-wrapper {
    padding-left: 250px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    /*display: block;*/
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: #16A085;
}

.list-content-wrapper {
    padding: 45px;
}

.list-item-heading {
    text-align: left;
}

.list-item-paragraf {
    text-align: left;
    padding-left: 27px;
}

.form-signin {
    padding: 10px;
}