<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--From Video https://www.youtube.com/watch?v=vVx1737auSE-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>-->
    
    <title>TopTenMovies</title>
</head>
<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="{{url_for('home_page')}}"><img class="logo" src="{{url_for('static', filename='img/top-ten-logo.png')}}" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('home_page')}}">Home </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('show_list')}}">All Lists</a>
                  </li>
              </ul>
              {% block nav %}
              
              {% endblock %}
          </div>
      </nav>
      
      
      
    <!-- Content -->
    <div class="content-container">
        <div id="wrapper" class="menuDisplayed">
            {% block content %}
            <!-- Home Page Content -->
            <div class="container-fluid" id="home-page-content-wrapper">
                <h1>Top Ten Things!</h1>
                <div class="col-6 offset-3">
                    <ol>
                        <li>
                            <p>Search for the topic you are interested in!</p>
                        </li>
                        <li>
                            <p>Create your own Top Ten List!</p>
                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>