{% extends 'base.html'%} {% block content %}


<!-- Modal - Create List ----------------------------->
<!--<div class="modal" id="list-item-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-12">
                    <h3 class="modal-padding modal-title mx-auto">Create List Content</h3>
                </div>
                
            
                <div class="modal-padding col-12">
                    <form>
                        <div class="form-group col-12">   
                            <div class="row">
                                <div class="col-3 offset-1">                
                                    <label for="exampleFormControlSelect1">Position</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                                <div class="col-6 offset-1">
                                    <label for="exampleFormControlInput1">Name</label>
                                    <input id="list_object_name" name="list_object_name" type="text" class="form-control" placeholder="Jason Bourne">
                                </div> 
                            </div>
                        </div>
                        
                        <div class="col-10 mx-auto">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="exampleFormControlTextarea1">Item Description</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>         
                                <div class="form-group col-6">    
                                    <label for="exampleFormControlFile1">Example file input</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            
                <div class="ml-auto modal-padding col-4">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!-- Create List Page ----------------------------->
<div class="container-fluid" id="create-list-content-wrapper">
    <h1>Create Your List</h1>
    <div class="form-container">
        <div class="col-md-10 offset-1">
            <span class="anchor" id="formUserEdit"></span>
            <hr class="my-5">
            <div class="card create-list-card card-outline-secondary">
                <div class="card-body">
                    <!-- Create List Form -->
                    <form class="form" action="{{ url_for('insert_list') }}" method="POST" role="form" autocomplete="off">
                        <!--List Name Add-->
                        <div class="form-group row add-list-name-row">                                                        
                            <div class="col-1">
                                <i class="fas fa-signature"></i>
                            </div>
                            <div class="col-5">                                                                
                                <input id="list_name" name="list_name" type="text" class="form-control" placeholder="List Title Name">                                    
                            </div>
                            <div class=" col-4 offset-1">    
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>                            
                        </div>
                        <!--List Object Add-->
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                <i class="fas fa-tasks"></i>
                            </div>
                            <div class="col-2">                                                
                                <input type="number" class="form-control" id="list_object_number_1" name="list_object_number_1" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-3">
                                <input id="list_object_name_1" name="list_object_name_1" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-6">
                                <textarea class="form-control" id="list_object_description_1" name="list_object_description_1" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                            </div>
                            <div class="col-2">                                                
                                <input type="number" class="form-control" id="list_object_number_2" name="list_object_number_2" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-3">
                                <input id="list_object_name_2" name="list_object_name_2" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-6">
                                <textarea class="form-control" id="list_object_description_2" name="list_object_description_2" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--Submit Button-->
                        <div class="form-group row">
                            <div class="col-12">
                                <input type="submit" class="btn btn-info" name="action">
                            </div>
                        </div>
                    </form>
                    <!-- /List Form -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}