{% extends 'base.html'%} {% block content %}

<!-- Create List Page ----------------------------->
<div class="container-fluid" id="create-list-content-wrapper">
    <h1>Create Your List</h1>
    <div class="form-container">
        <div class="col-md-10 offset-md-1">
            <span class="anchor" id="formUserEdit"></span>
            <hr class="my-5">
            <div class="card create-list-card card-outline-secondary">
                <div class="card-body">
                    <!-- Create List Form -->
                    <form class="form" action="/insert_list" method="POST" role="form" autocomplete="off">
                        <!--List Name Add-->
                        <div class="form-group row add-list-name-row">                                                        
                            <div class="col-1">
                                <i class="fas fa-signature"></i>
                            </div>
                            <div class="col-md-5">                                                                
                                <input id="list_name" name="list_name" type="text" class="form-control" placeholder="List Title Name">                                    
                            </div>
                            <div class=" col-md-4">  
                                
                                <input id="image_file" name="image_file" type="text" class="form-control" placeholder="Image Link (full link)" value="">
                            </div>                            
                        </div>
                        <hr class="my-5">
                        <!--List Object Add - 1 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                <i class="fas fa-tasks"></i>
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_1" name="list_object_number_1" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_1" name="list_object_name_1" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_1" name="list_object_description_1" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 2 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_2" name="list_object_number_2" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_2" name="list_object_name_2" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_2" name="list_object_description_2" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 3 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_3" name="list_object_number_3" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_3" name="list_object_name_3" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_3" name="list_object_description_3" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 4 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_4" name="list_object_number_4" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_4" name="list_object_name_4" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_4" name="list_object_description_4" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 5 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_5" name="list_object_number_5" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_5" name="list_object_name_5" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_5" name="list_object_description_5" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 6 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_6" name="list_object_number_6" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_6" name="list_object_name_6" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_6" name="list_object_description_6" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 7 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_7" name="list_object_number_7" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_7" name="list_object_name_7" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_7" name="list_object_description_7" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 8 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_8" name="list_object_number_8" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_8" name="list_object_name_8" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_8" name="list_object_description_8" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 9 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_9" name="list_object_number_9" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_9" name="list_object_name_9" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_9" name="list_object_description_9" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--List Object Add - 10 -->                    
                        <div class="form-group add-list-object-row row">
                            <div class="col-1">
                                
                            </div>
                            <div class="col-md-2">                                                
                                <input type="number" class="form-control" id="list_object_number_10" name="list_object_number_10" placeholder="Position">                                    
                            </div>
                            
                            <div class="col-md-3">
                                <input id="list_object_name_10" name="list_object_name_10" type="text" class="form-control" placeholder="Item Name">
                            </div>
                                                   
                            <div class="col-md-6">
                                <textarea class="form-control" id="list_object_description_10" name="list_object_description_10" placeholder="Item Description" rows="1"></textarea>
                            </div>  
                        </div>
                        <!--Submit Button-->
                        <div class="form-group row">
                            <div class="col-12">
                                <input type="submit" value="Create List" class="btn btn-info" name="action">
                            </div>
                        </div>
                    </form>
                    <!-- /List Form -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}