{% extends 'base.html' %}
{% block nav %}
<form class="form-inline my-2 my-lg-0">
    <a class="nav-link" href="{{url_for('to_login')}}">LogIn</a>
    <a class="nav-link" href="{{url_for('register')}}">Register</a>
</form>
{% endblock %}
{% block content %}
            <!-- Home Page Content -->
            <div class="container-fluid" id="home-page-content-wrapper">
                <h1>Top Ten Things!</h1>
                <div class="col-6 offset-3">
                    <ol>
                        <li>
                            <p>Search for the topic you are interested in!</p>
                        </li>
                        <li>
                            <p>Create your own Top Ten List!</p>
                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
{% endblock %}