{% extends 'base.html' %}{% block content %}
<div class="container-fluid" id="login-register-content-wrapper">
  <div class="col-12">
    <h1>Sign Up!</h1>
      <div class="card card-sm login-register-card card-outline-secondary col-md-5 mx-auto">
          <form method=POST action="{{ url_for('register') }}">
              <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" name="pass" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Register</button>
          </form>
          <br>
      <div>
          Already have an account? <a href="{{ url_for('to_login') }}">Log in</a>.
      </div>
      </div>
  </div>
</div>
  {% endblock %}