{% extends 'base.html' %} 
{% block content %}

<!--Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        {% for list in listName %}
        <li class="nav-item">        
            <a class="nav-link" href="{{ url_for('view_lists', list_id=list._id) }}">
                {{list.list_name}}
            </a>
            {% endfor %}  
        </li>   
    </ul>    
</div>


<!-- List Content -->
<div id="lists-page-content-wrapper">
    <div class="container-fluid">
        
        
        <div class="row">
            <div class="col-lg-12">
                <h1>{{lists.list_name}}</h1>
                    
                   {% for listObject in lists.list_objects %}
                    <div class="list-content-wrapper row">
                        
                        <div class="col-12 ml-auto">
                            
                            <h3 class="list-item-heading">{{listObject.list_object_number}}. {{listObject.list_object_name}}</h3>
                            
                        </div>
                        
                        <div class="col-lg-8">
                            <p class="list-item-paragraf">
                                {{listObject.list_object_description}}
                            </p>
                        </div>
                        <div class="col-lg-4"><img src="" alt=""></div>
                    </div>
                   {% endfor %}
                   
                   <div>
                    {% if session['username'] == lists.user %}
                        <a href="{{url_for('edit_list', list_id=lists._id)}}" class="waves-effect waves-light btn btn-sml blue">Edit</a>
                        <a href="{{url_for('delete_list', list_id=lists._id)}}" class="waves-effect waves-light btn btn-sml">Delete</a>
                        {% elif session['username'] == None %} 
                        <p>Submitted by {{ lists.user }}</p>
                        {% else %}
                        <p>Submitted by {{ lists.user }}</p>
                    {% endif %}
                    </div>
                    
                    
            </div>
        </div>
        
    </div>
</div>
{% endblock %}